$blue: #0089cd;
$white: #ffffff;

html, body {
	height: 100%;
	margin:0;
}

h1 {
	padding: 20% 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}

p {
	text-align: center;
	color: transparentize($white, 0.5);
	font-family: Helvetica, sans-serif;
}

strong {
	color: #fff;
}

section {
	height: 100%;
	color: white;
	position:relative;
	text-align: center;

	.inner{
		margin: 0 auto;
		max-width: 85%;
	}
}

//section#one { background-color: $blue; }
section#one { background-image: url('zelda.png');
background-repeat: no-repeat;
background-size: 100% 100% }
section#two { background-image: url('amaterasu.png');
background-repeat: no-repeat;
background-size: 100% 100%;
border-top: 3px solid black; }
section#three { background-color: lighten($blue, 5%); }
section#four { background-color: darken($blue, 10%); 
				transition: all 0.4s linear;
				&.is-active {
					background-color: #222222;
				}
			}

.link {
	background: url('linkwalksprite.png');
	width: 120px;
	height: 127px;
	animation: walk-east 1.0s steps(10) infinite;
	margin: auto;
}

 @-webkit-keyframes walk-east {
	from { background-position: 0px;}
	to { background-position: -1200px;}
}

.site-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.site-nav ul li {
	list-style: none;
}

a:link {
	text-decoration: none;
	font-family: Helvetica, sans-serif;
}

a:visited {
    text-decoration: none;
}























